*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    
    
    
}





.box{
    width: 100%;
    height: auto;
    position: absolute;
   
   
    
    
}
.bx1{
    
    width: 30%;
    height: 300px;
    float: left;
    background-color:aliceblue;
    position: relative;
    
    
}

.bx1 img{
    margin-top: 40px;
 
}


.bx2{
    
    width: 70%;
    height: 300px;
    float: right;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    position: relative;
    padding-top: 50px;
   
}

.bx2 h1{
    word-spacing: 10px;
}


.bx2 li{
    list-style: none;
    padding: 2px 2px 2px 2px;
    color: black;
  
}
.bx2 li i{
    padding: 5px 5px;
}

.bx2 li a{
    text-decoration: none;
    color: black;
}

.bx2 li a:hover{
    
   color:deepskyblue;
    
}


.bx2, .bx1{
    text-align: center;
    align-items: center;
}



.bg{
    
    background-image: url(image/2.jfif);
    width: 100%;
    min-height: 200px;
    margin-top: 277px;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}





.content{
    margin-top: -59px;
    width: 100%;
    height: 500px;
    position: absolute;
   
  
align-content: center;
    text-align: center;
    
    
}


.quali{
    width: 50%;
    height: 400px;
    background-color:antiquewhite;
    margin-top: 60px;
    padding-right: 20px;
    position: relative;
    float: left;
     box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    animation:slide1 5s infinite;
    animation-delay: 3s;
    animation-direction: alternate-reverse;

}





.skills{
     width: 50%;
    height: 400px;
    background-color:antiquewhite;
    margin-top: 60px;
    position: relative;
    float: right;
     box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
     animation: slide2 5s infinite; 
    animation-direction: reverse;
    animation-delay: 3s;
    
    

    
}


@keyframes slide1{
    
    from {background-color: antiquewhite;}
    to {background-color: whitesmoke};
}

@keyframes slide2{
    
    from {background-color:antiquewhite;}
    to {background-color: whitesmoke};
}



.skills li{
    list-style: none;
    padding: 2px 2px;
}

.skills ul{
    margin-top: 20px;
}

table, th, td{
    
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}

table{
    width: 100%;
    margin-top: 50px;
    margin-left: 5px;
    background-color: aliceblue;
    font-family: 'Ubuntu Mono', monospace;
}

#edu th{
    background-color:black;
    color: aliceblue;
}




.ana{
    
    width: 100%;
    height: 200px;
    position: relative;
   background-color:darksalmon;

    justify-content: center;
    text-align: justify;
    
    box-shadow: 8px 8px 8px 8px rgba(0, 0 ,0 ,0.7);
    
    
}

.ana ul{
    padding-left: 50px;
}

.ana li{
    
    list-style:circle;
    padding: 2px;
}



.inte{
    
    background-color: darkcyan;
    margin-top: 20px;
    width: 100%;
    height: 200px;
  
}

.inte ul{
    padding-left: 50px;
}


.inte li{
    list-style:circle;
    padding: 2px;
}


footer{
    background-image: url(image/2.jfif);
     background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    height: 100px;
    padding-top: 50px;
    text-align: center;
  
}






/* --------------Mobile Display -------------- */

@media only screen and (max-width: 600px){
    
    box{
        display: inline-block;
    }
    
.bx1{
    
    width: 100%;
    height: 300px;
   
    background-color:beige;
   
}


.bx2{
    
    width: 100%;
    height: 300px;
 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
   
}
    .bg{
        display: none;
    }
    .content{
        margin-top: 600px;
        display: block;
    }
    
    
.quali{
    width: 100%;
    height: 400px;
    background-color:antiquewhite;
    margin-top: 60px;
    padding-right: 20px;
    position: relative;
 
     box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    
    
}

.skills{
     width: 100%;
    height: 400px;
    background-color:antiquewhite;
    margin-top: 60px;
    position: relative;
 
     box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
    
    table{
        width: 100%;
    }
    
    .ana{
 
    position:relative;
   margin-top: 1600px;

}

    
    
}


    
    